:root {
  --primary: #25d366;
  --secondary: #fe9192;
  --secondary: #fe9192;
  --gra1: #212121;
  --gra2: #333233;
  --gra3: #e5e5e5;
  --gra4: #616161;

  --border: 20px;
  --borderRight: 0px 20px 20px 0px;
  --shadow: -2px 3px 15px 0px rgba(107, 107, 107, 1);
}
/* color: var(--header-color, blue); */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  background-color: #e9e9e9;
}
.containerLogin {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: white;
}
.containerImg {
  display: flex;
  flex: 2;
  align-items: center;
  background-color: var(--primary);
  flex-direction: column;
  justify-content: center;
  border-radius: var(--borderRight);
}
.containerImg h3 {
  font-weight: 500;
  margin: 0.5rem;
  color: var(--gra2);
}
.containerImg h1 {
  margin: 0.5rem;
  color: var(--gra1);
}
.containerForm {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.labelInput {
  margin: 0.5rem;
  color: var(--gra2);
}
.inputGlobal {
  background-color: var(--gra3);
  border: 0;
  padding: 0.5rem 1rem;
  width: 300px;
  outline: none;
  border-radius: var(--border);
  height: 3rem;
}
.inputGlobal:focus {
  border-radius: var(--border);
  box-shadow: var(--shadow);
  border: 0.5px var(--gra1) solid;
}
.formLogin {
  display: flex;
  flex-direction: column;
}
.buttonGlobal {
  background-color: var(--primary);
  border: 0;
  outline: none;
  height: 2.5rem;
  border-radius: var(--border);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: var(--shadow);
}
.buttonGlobal:hover {
  background-color: #1b9b4a;
  border: 0;
  outline: none;
  border-radius: var(--border);
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: white;
}
.underlineBtn {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}
.check {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.check input[type="checkbox"] {
  cursor: pointer;
}
.textCheckBox {
  font-size: 0.8rem;
  color: var(--gra2);
}
.logo img {
  width: 50px;
  height: 50px;
  margin: 1rem 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo span {
  font-weight: bold;
  margin-left: 5px;
}
.containerError {
  background-color: rgba(235, 3, 3, 0.637);
  padding: 0.5rem;
  border-radius: 5px;
  width: 300px;
}
.containerError span {
  color: white;
}
.containerLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  background-color: white;
}
.containerLogoNav img {
  width: 50px;
  height: 50px;
}

.userDefault {
  display: flex;
  align-items: center;
}
.userDefault span {
  font-weight: bold;
  color: var(--gra4);
  font-size: 0.9rem;
}
.userDefault img {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
}
.containerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link {
  margin-right: 1rem;
  color: var(--gra4);
  font-size: 0.9rem;
  cursor: pointer;
}
.activeLink {
  margin-right: 1rem;
  color: var(--gra1);
  font-size: 0.9rem;
  text-decoration: underline;
}

.containerLinks a:hover {
  color: var(--gra1);
  transition: all 0.3s ease-in;
  text-decoration: underline;
}
.container {
  display: flex;
}
.column1 {
  flex: 1;
}
.column2 {
  flex: 3;
}
.column3 {
  flex: 1;
}
.hero {
  background-color: #333233;
  height: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h2 {
  color: white;
}

.formConference {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  margin: 2rem 0;
  border-radius: 10px;
  padding: 2rem 0;
  -webkit-box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.75);
}
.checkConference {
  margin: 1rem 0;
  display: flex;
  flex-direction: row-reverse;
}
.checkConference input {
  margin-left: 3rem;
}
.menuIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}
.containerItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  border: 0.5px solid var(--gra3);
  display: flex;
  width: 800px;
  background-color: white;
  padding: 10px;
}
.hour {
  flex: 1;
  display: flex;
  margin: 10px;
}
.hour span {
  font-size: 1.3rem;
  color: var(--gra4);
}
.event {
  flex: 3;
}
.location {
  font-size: 1rem;
  color: var(--gra4);
}
.title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.members {
  font-size: 1rem;
  color: var(--gra4);
}
.cardDetail {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailInformation {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.createBy {
  display: flex;
}
.detailInformation span {
  color: var(--gra4);
  font-size: 1.2rem;
}
.noFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.noFound span {
  margin-top: -4rem;
}
@media screen and (max-width: 600px) {
  .containerImg {
    display: none;
  }
  .navBar {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 95%;
  }
  .column1 {
    display: none;
  }
  .column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .column3 {
    display: none;
  }
  .nameUser {
    display: none;
  }
  .menuIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menuIndex span {
    margin: 0 10px;
  }
  .hero {
    width: 100%;
  }
  .formConference {
    padding: 1rem;
  }
}
